<div class="flex flex-col items-center min-h-screen bg-gray-100 p-2">
  <h1 class="text-2xl font-bold my-8">Islands Game</h1>

  <%= if @game_state != :initialized do %>
    <.set_islands game_board={@game_board} player1={@player1} player2={@player2} />
  <% else %>
    <h2>Join Game Form</h2>
    <.join_game_form room_name={@room_name} player_name={@player_name} />
  <% end %>
</div>
